.App {
  text-align: center;
  align-items: center;
}

.App {
  background: #fff;
  max-width: 700px;
  padding: 10px;
  margin: 50px auto;
  font-family: sans-serif;
  font-size: 22px;
  align-items: center;
}
button {
  /* width: 100px; */
  margin: 5px;
  outline:none;
  border: .4rem outset crimson;
  padding: 5px 10px;
  background: crimson;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  color: crimson;
  background: white;
}


h2{
  background-color: white;
  color: crimson;
  border: .5rem outset white;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  cursor: pointer;
}

h2:hover{
  background-color: crimson;
  color: white;
  border: .5rem outset crimson;
 
}
h1{
  background-color: crimson;
  color: white;
  border: .5rem outset white;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 50px; 
}
h3{
  background-color: crimson;
  color: white;
  border: .5rem outset white;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 50px; 
}
.area {
  margin: 15px;
  padding: 10px;
  background: #f7f7f7 ;
  border: .4rem inset #fff;
}
.area2 {
  display: flex;
  justify-content: space-around;
}

